@import 'bootstrap/_bootstrap';
// @import url(https://fonts.googleapis.com/css?family=Roboto:100italic);

body {
  background-color: rgba(#808080, 0.07);

  #app-container {
    padding: 20px;

    div {
      display: flex;
      flex-direction: column;

      .cctapsGrid {
        #mainTitle {
          align-self: center;
          margin-bottom: 0;
        }

        #subTitle {
          align-self: center;
          margin-bottom: 40px;
          text-decoration: underline
        }
        box-shadow: 10px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

        .top-section {
          display: flex !important;
          margin-bottom: 30px;
          align-items: baseline;
          flex-direction: row-reverse;

          .griddle-filter {
            width: 50% !important;
          }

          .griddle-settings-toggle {
            width: 50%;
            align-self: baseline;

            .settings {
              text-align: left;
              margin-left: 10px !important;

              span {
                font-size: 20px;
              }
            }
          }
        }

        .filter-container {
          input {
            font-family: 'Roboto', sans-serif;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #757575;
          }
        }

        thead {
          tr {
            th {
              background-color: transparent !important;
              font-family: 'Roboto', sans-serif;
              color: grey !important;
            }
          }
        }

        tbody {
          font-family: 'Roboto', sans-serif;
          tr {
            td:first-child {
              color: blue !important;
              text-decoration: underline;
            }

            td {
              overflow: hidden;
            }
          }
          .standard-row {
            border-bottom: 1px solid rgba(#000, 0.1);
          }
        }

        .griddle-container {
          border: none !important;
        }
        .griddle-footer {
          display: none;
        }
      }
    }
  }
}