@import 'bootstrap/_bootstrap';

body {
  background-color: #80AA55;

  tbody {
    tr {
      td:first-child {
        span:last-child {
          color: blue;
          text-decoration: underline;
        }
      }
    }
  }

  h4 {
    position: absolute;
    right: 0;
    margin-right: 10px;
  }

  .griddle-footer {
    display: none;
  }
}