<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="language" content="english">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="CCtaps" content="">
        <meta name="robots" content="noindex">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app-container"></div>
        <script>
            window.__INITIAL__STATE__ = {
                bars: <%- JSON.stringify(bars) %>,
                beers: <%- JSON.stringify(beers) %>
            }
        </script>

        <script src="bundle.js"></script>
    </body>
</html>